---
const posts = await Astro.glob("../pages/blog/*.md");
---

<div id="blog" class="p-6">
  <h1 class="flex justify-center text-4xl py-2">blog</h1>
  <div class="flex flex-col md:flex-row justify-around">
    {
      posts
        .filter((p) => p.frontmatter.draft)
        .slice(0, 3)
        .map((post) => (
          <div class="p-2">
            <div class="card bg-neutral max-w-full md:max-w-sm shadow-xl">
              <figure>
                <img
                  src={post.frontmatter.headImage}
                  alt={post.frontmatter.title}
                />
              </figure>
              <a href={post.url}>
                <div class="card-body">
                  <h2 class="card-title">{post.frontmatter.title}</h2>
                  <p>{post.frontmatter.description}</p>
                </div>
              </a>
            </div>
          </div>
        ))
    }
  </div>
</div>
