---
import NavLink from "../components/NavLink.astro";
import Navbar from "../components/Navbar.astro";
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <title>{frontmatter.title}</title>
  </head>
  <body>
    <main>
      <Navbar showEndMenu={false}>
        <NavLink body="Top" href="/" />
      </Navbar>
      <article class="p-4">
        <header class="text-center p-13 max-auto">
          <h1 class="card-title">{frontmatter.title}</h1>
          <p class="flex justify-end">{frontmatter.date}</p>
        </header>

        <div class="divider"></div>

        <slot />
      </article>
    </main>
  </body>
</html>
<style is:global>
  h1 {
    @apply text-3xl;
  }
</style>
